.back
  .signup
    MINIMALへようこそ。
  .start
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .start__box
        = f.label :メールアドレス
      .start__field
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .start__area
        = f.label :パスワード
        - if @minimum_password_length
          .password
            (#{@minimum_password_length} characters minimum)
      .start__field
        = f.password_field :password, autocomplete: "new-password"
      .start__box
        = f.label :パスワード確認用
      .start__field
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .start__action
        = f.submit "Sign up"
      .start__end
        = render "devise/shared/links"