.main
  = image_tag "/img_logo.jpg", class:"main", alt:""
  .main__logo
    MINIMAL
  .main__box
    .main__box__btn
      - if user_signed_in?
        = link_to "マイページ", root_path, class: "btn-next"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-next"
        = link_to "新規投稿", new_home_path, method: :get, class: "btn-next"
        = link_to "一覧を見る", items_path, method: :get, class: "btn-next"
      -else
        = link_to 'はじめる', new_user_registration_path, method: :get, class: 'btn-next'
        = link_to 'ログイン', new_user_session_path, method: :get, class: 'btn-next'
        = link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post, class: 'btn-next'
    .main__map
      #map

.footer
  .footer__box
    お問い合わせ
  .footer__box
    Twitter
  .footer__box
    Instagram
  .footer__box
    Facebook
  .footer__box
    Youtube
  .footer__box
    MINIMALとは