.header
  Welcome!
  - if user_signed_in?
    = link_to "マイページ", root_path, class: "btn-mypage"
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn-logout"
    = link_to "新規投稿", new_home_path, method: :get, class:"btn-item"
    = link_to "一覧を見る", items_path, method: :get, class:"btn-myitems"
  -else
    = link_to 'はじめる', new_user_registration_path, method: :get, class: 'btn-signup'
    = link_to 'ログイン', new_user_session_path, method: :get, class: 'btn-login'
    = link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post