.item
  .item__title
    = link_to "MINIMAL", root_path, class:"btn-title"
  = form_with model: @item, url: homes_path, class: 'item__form', local: true do |f|
    = f.collection_select :category_id, Category.all, :id, :name, include_blank: '--', class: 'item__form__select'
    = f.text_field :thing, placeholder: :アイテム, value: "", class: 'item__form__title'
    = f.fields_for :images do |ff|
      = ff.label :image, class: 'item__form__label' do
        = icon('fas', 'image', class: 'icon')
        = ff.file_field :image, class: 'item__form__image'
    = f.submit '投稿する', class: 'item__form__btn'