!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Minimal
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %title GoogleMap
    %script{:src => "https://polyfill.io/v3/polyfill.min.js?features=default"}
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyC231kdYDU139_EeyP7ge_IGo487Rax-EA&callback=initMap&libraries=&v=weekly"}
  %body
    = yield